.gallery-item {
    height: 250px;
    width: 250px;
    margin: 20px; 
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

img {
    height: 150px;
    width: 150px; 
    /* margin: 0 auto; */
    border: 1px solid black;
    
    
}

.image {
    height: 150px;
    width: 150px; 
    margin: 0 auto;
    
    
    
}

/* .description {
    height: 150px;
    width: 150px; 
    margin: 0 auto;
    border: 1px solid black;

} */

.likes {
    margin: 10px;
}